In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
dfx = pd.read_csv('Diabetes_XTrain.csv')
dfy = pd.read_csv('Diabetes_YTrain.csv')
df_test = pd.read_csv('Diabetes_Xtest.csv')

In [4]:
dfx.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

In [5]:
dfx.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [6]:
x = dfx.values
y = dfy.values
print(x.shape)
print(y.shape)

(576, 8)
(576, 1)

In [19]:
def dis(x1,x2):
    return np.sqrt(sum((x1-x2)**2))

def knn(X,Y,query,k=5):
    val = []
    m = X.shape[0]
    
    for i in range(m):
        d = dis(query , X[i])
        val.append((d,Y[i]))
    val = sorted(val)
    val=val[:k]
    val=np.array(val,dtype=np.int64)
   # print(val)
    
    new_val = np.unique(val[:,1],return_counts=True)
    #print(new_val)
    
    max_freq_index = new_val[1].argmax()
    pred = new_val[0][max_freq_index]
    
    return pred

In [8]:
test = df_test.values

In [9]:
test.shape

(192, 8)

In [20]:
m=knn(x,y,test[1])
print(m)

0

In [53]:
ans = np.zeros((192,1),dtype=np.int64)

In [72]:
for i in range(test.shape[0]):
    ans[i] = knn(x,y,test[i],25)

In [66]:
ans.shape

(192, 1)

In [73]:

df = pd.DataFrame(ans,columns = ['Outcome'])
df.head()

   Outcome
0        0
1        0
2        0
3        0
4        0

In [51]:
#pd.DataFrame.reset_index(df ,drop=True , inplace=False)

     Outcome
0          1
1          0
2          0
3          0
4          0
..       ...
187        0
188        0
189        1
190        0
191        0

[192 rows x 1 columns]

In [74]:
df = df.to_csv('Diabetes25.csv',index=False)

In [ ]:
ans=np.full((192,1),0)
for i in range(k):
    a=knn(x,y,test[i],20)
    ans[i][0]=a

#print(ans)    
ans=pd.DataFrame(ans,columns=['Outcome'])
ans.head()
ans=ans.to_csv('Diabetes20.csv',index=False)